PORT=3000

#CLOUDINARY_NAME=
#CLOUDINARY_API_KEY=
#CLOUDINARY_API_SECRET=

DB_HOST=localhost
DB_PORT=5432
DB_USER=<usuario>
# Corregir, hay referencias a DB_USER y referencias a DB_USERNAME en el código
DB_USERNAME=<usuario>
DB_PASSWORD=<contraseña>
DB_NAME=<base de datos>

#JWT_ACCESS_EXPIRATION=60m
#JWT_REFRESH_EXPIRATION=2d
JWT_ACCESS_SECRET=<secreto JWT aprox 50 caracteres aleatorios>
JWT_REFRESH_SECRET=<secreto JWT aprox 50 caracteres aleatorios>

API_GLOBAL_PREFIX=api
